/* ! compass reset css and google fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|EB+Garamond|Droid+Serif);
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 5, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ! Box-sizing ------------------------------------- */
/* line 14, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ! Base settings ------------------------------------- */
/* line 49, ../components/sass/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 56, ../components/sass/_base.scss */
body {
  font-family: Droid serif, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 150%;
  background: #FCF4DC;
  color: #0A2933;
}

/* line 69, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, serif;
  font-weight: 700;
  color: #475B62;
  text-shadow: #FCF4DC 1px 1px;
}

/* line 77, ../components/sass/_base.scss */
h1 {
  font-size: 2.2rem;
  line-height: 2rem;
  color: #1f7f9e;
  margin-bottom: .4rem;
  padding-top: 10px;
}

/* line 86, ../components/sass/_base.scss */
h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 20px  0  0  0;
  color: #1f7f9e;
  text-decoration: none;
}

/* line 93, ../components/sass/_base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #BD3613;
}

/* line 101, ../components/sass/_base.scss */
a {
  color: #7fa668;
  text-decoration: none;
  line-height: inherit;
}

/* line 107, ../components/sass/_base.scss */
p {
  margin-bottom: 10px;
}

/* line 111, ../components/sass/_base.scss */
.small {
  font-size: 1rem;
  color: #2176C7;
}

/* ! Social icons ------------------------------------- */
/* line 72, social/*.png */
.social-sprite, .social-facebook, .social-linked, .social-rss, .social-twitter {
  background-image: url('../images/social-sd47638f163.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.social-linked {
  background-position: -32px 0;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.social-rss {
  background-position: -64px 0;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter {
  background-position: -96px 0;
  height: 32px;
  width: 32px;
}

/* line 13, ../components/sass/_layout.scss */
.layout {
  padding: 0 3%;
}

/* line 28, ../components/sass/_mixins.scss */
#main-content:before, #main-content:after {
  content: '';
  display: table;
}
/* line 33, ../components/sass/_mixins.scss */
#main-content:after {
  clear: both;
}

/* line 23, ../components/sass/_layout.scss */
.util-bar {
  display: none;
}
/* line 25, ../components/sass/_layout.scss */
.util-bar .socialmediaicons {
  display: hidden;
}
/* line 27, ../components/sass/_layout.scss */
.util-bar .socialmediaicons .signup {
  display: none;
}
/* line 29, ../components/sass/_layout.scss */
.util-bar .socialmediaicons .signup h6 {
  display: none;
}
/* line 36, ../components/sass/_layout.scss */
.util-bar .cart a .cart-icon {
  display: none;
}

/* line 44, ../components/sass/_layout.scss */
.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.banner:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 53, ../components/sass/_layout.scss */
.banner h1 {
  display: none;
  position: absolute;
  top: -999em;
}

/* line 65, ../components/sass/_layout.scss */
#main-nav {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzNTkzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E4YzI5OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #435935), color-stop(100%, #a8c298));
  background-image: -moz-linear-gradient(top, #435935, #a8c298);
  background-image: -webkit-linear-gradient(top, #435935, #a8c298);
  background-image: linear-gradient(to bottom, #435935, #a8c298);
  border-bottom: 1px solid #EDE945;
}
/* line 70, ../components/sass/_layout.scss */
#main-nav .layout {
  text-align: center;
}
/* line 72, ../components/sass/_layout.scss */
#main-nav .layout .nav {
  /*/mediaquery*/
}
@media (min-width: 505px) {
  /* line 72, ../components/sass/_layout.scss */
  #main-nav .layout .nav {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* line 28, ../components/sass/_mixins.scss */
  #main-nav .layout .nav:before, #main-nav .layout .nav:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  #main-nav .layout .nav:after {
    clear: both;
  }
  /* line 62, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #main-nav .layout .nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #main-nav .layout .nav li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #main-nav .layout .nav li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #main-nav .layout .nav li.last {
    padding-right: 0;
  }
}
/* line 79, ../components/sass/_layout.scss */
#main-nav .layout .nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#main-nav .layout .nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 82, ../components/sass/_layout.scss */
#main-nav .layout .nav li {
  padding-top: 5px;
}
/* line 89, ../components/sass/_layout.scss */
#main-nav .layout .nav li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px  10px;
  color: #EDE945;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
/* line 101, ../components/sass/_layout.scss */
#main-nav .layout .nav li a:visited, #main-nav .layout .nav li a:hover {
  background: #6200b2;
  border: 1px solid #A8C298;
  padding: 4px 9px;
  color: #EDE945;
  text-shadow: #2176C7 1px 1px;
}

/* line 123, ../components/sass/_layout.scss */
#main-content {
  clear: both;
}
/* line 125, ../components/sass/_layout.scss */
#main-content .layout {
  position: relative;
}

@media (min-width: 960px) {
  /* line 132, ../components/sass/_layout.scss */
  .wrapper {
    width: 80%;
    margin: auto;
    display: block;
    position: relative;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjRkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcf4dc), color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(top, #fcf4dc, #ffffff);
    background-image: -webkit-linear-gradient(top, #fcf4dc, #ffffff);
    background-image: linear-gradient(to bottom, #fcf4dc, #ffffff);
    border-right: 1px solid #819090;
  }
  /* line 140, ../components/sass/_layout.scss */
  .wrapper:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }
  /* line 149, ../components/sass/_layout.scss */
  .wrapper:after {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  }
}
/*/mediaquery*/
/* line 168, ../components/sass/_layout.scss */
.all-banner {
  width: 80%;
  height: auto;
  margin: 30px auto;
  background: #A8C298;
}

/* line 177, ../components/sass/_layout.scss */
.all-banner {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
/* line 28, ../components/sass/_mixins.scss */
.all-banner:before, .all-banner:after {
  content: '';
  display: table;
}
/* line 33, ../components/sass/_mixins.scss */
.all-banner:after {
  clear: both;
}
/* line 184, ../components/sass/_layout.scss */
.all-banner #bannerBg {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 10px solid #A8C298;
}
/* line 190, ../components/sass/_layout.scss */
.all-banner #bannerBg #containingDiv {
  overflow: hidden;
}
@media (min-width: 960px) {
  /* line 28, ../components/sass/_mixins.scss */
  .all-banner:before, .all-banner:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  .all-banner:after {
    clear: both;
  }
}

/* line 218, ../components/sass/_layout.scss */
.primary {
  /*/mediaquery*/
  /*/mediaquery*/
}
/* line 220, ../components/sass/_layout.scss */
.primary article h2 {
  margin-bottom: 10px;
  padding-bottom: 2%;
}
/* line 226, ../components/sass/_layout.scss */
.primary article h2 a.bg-btn {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #dee8d8;
  padding: 5px 10px;
  border: 1px solid #A8C298;
}
/* line 232, ../components/sass/_layout.scss */
.primary article h2 a.bg-btn:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #A8C298;
  color: #2176C7;
  padding: 5px 10px;
  border: 1px solid #7fa668;
}
/* line 239, ../components/sass/_layout.scss */
.primary article h2 a.bg-btn:active {
  background: #e8451b;
  color: #EDE945;
  text-shadow: #7fa668 1px 1px;
}
/* line 252, ../components/sass/_layout.scss */
.primary .product-service {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #A8C298;
  padding-bottom: 20px;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.primary .product-service:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 259, ../components/sass/_layout.scss */
.primary .product-service figure.revealer {
  position: relative;
  overflow: hidden;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #7fa668;
}
/* line 265, ../components/sass/_layout.scss */
.primary .product-service figure.revealer img {
  display: block;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  overflow: hidden;
  padding-left: 0;
}
/* line 271, ../components/sass/_layout.scss */
.primary .product-service figure.revealer figcaption {
  position: absolute;
  left: -999999em;
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: white;
  background-color: rgba(246, 244, 162, 0.8);
}
/* line 279, ../components/sass/_layout.scss */
.primary .product-service figure.revealer figcaption p {
  margin-bottom: 0;
  color: #000000;
  font-size: 14px;
  margin: 0;
}
/* line 284, ../components/sass/_layout.scss */
.primary .product-service figure.revealer figcaption p:nth-child(3) {
  color: #BD3613;
}
/* line 292, ../components/sass/_layout.scss */
.primary .product-service figure.revealer:hover figcaption {
  left: 0;
}
/* line 304, ../components/sass/_layout.scss */
.primary .product-service a figure.revealer figcaption:hover h6 {
  color: #1a5c9b;
  margin: 0;
}
/* line 308, ../components/sass/_layout.scss */
.primary .product-service a figure.revealer figcaption:hover p {
  color: #000000;
  font-size: 14px;
  margin: 0;
}
/* line 312, ../components/sass/_layout.scss */
.primary .product-service a figure.revealer figcaption:hover p:nth-child(3) {
  color: #BD3613;
}
/* line 318, ../components/sass/_layout.scss */
.primary .product-service a figure.revealer figcaption .primary-btn-enter {
  position: relative;
  width: 33.33333%;
  margin: 0 auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNzk0OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #5b7948), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #5b7948, #ffffff);
  background-image: -webkit-linear-gradient(bottom, #5b7948, #ffffff);
  background-image: linear-gradient(to top, #5b7948, #ffffff);
  text-align: center;
  padding: 2px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000;
}
/* line 327, ../components/sass/_layout.scss */
.primary .product-service a figure.revealer figcaption .primary-btn-enter:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNzk0OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b7948), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #5b7948, #ffffff);
  background-image: -webkit-linear-gradient(top, #5b7948, #ffffff);
  background-image: linear-gradient(to bottom, #5b7948, #ffffff);
  text-align: center;
  padding: 2px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000;
}
/* line 338, ../components/sass/_layout.scss */
.primary .product-service #our-beliefs {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 20px 0;
}
/* line 341, ../components/sass/_layout.scss */
.primary .product-service #our-beliefs h1 {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
@media (min-width: 680px) {
  /* line 349, ../components/sass/_layout.scss */
  .primary .product-service {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0;
  }
  /* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .primary .product-service:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 353, ../components/sass/_layout.scss */
  .primary .product-service .info {
    width: 50%;
    float: left;
    padding-left: 2.77778%;
    padding-right: 2.77778%;
  }
}
@media (min-width: 1300px) {
  /* line 371, ../components/sass/_layout.scss */
  .primary .product-service {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 0 20px 0;
    padding-bottom: 2%;
  }
  /* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .primary .product-service:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 376, ../components/sass/_layout.scss */
  .primary .product-service .info {
    width: 33.33333%;
    float: left;
    padding-left: 1.85185%;
    padding-right: 1.85185%;
    padding-bottom: 20px;
  }
  /* line 385, ../components/sass/_layout.scss */
  .primary .product-service #our-beliefs {
    width: 64.28571%;
    float: right;
    margin-right: 0;
    margin-top: 5%;
    padding: 20px 10px 20px 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #A8C298;
  }
}

/* line 427, ../components/sass/_layout.scss */
aside {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
aside:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 28, ../components/sass/_mixins.scss */
aside:before, aside:after {
  content: '';
  display: table;
}
/* line 33, ../components/sass/_mixins.scss */
aside:after {
  clear: both;
}
@media (min-width: 960px) {
  /* line 427, ../components/sass/_layout.scss */
  aside {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  aside:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 433, ../components/sass/_layout.scss */
  aside .info {
    width: 33.33333%;
    float: left;
    padding-left: 1.85185%;
    padding-right: 1.85185%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    border-left: 1px solid #A8C298;
    padding-left: 20px;
    margin-top: 20px;
  }
  /* line 28, ../components/sass/_mixins.scss */
  aside .info:before, aside .info:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  aside .info:after {
    clear: both;
  }
  /* line 62, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  aside .info li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  aside .info li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  aside .info li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  aside .info li.last {
    padding-right: 0;
  }
}

/* line 459, ../components/sass/_layout.scss */
footer {
  color: #0A2933;
  background: #A8C298;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: none;
  -moz-box-shadow: #042029 -3px 5px 10px;
  -webkit-box-shadow: #042029 -3px 5px 10px;
  box-shadow: #042029 -3px 5px 10px;
}
/* line 28, ../components/sass/_mixins.scss */
footer:before, footer:after {
  content: '';
  display: table;
}
/* line 33, ../components/sass/_mixins.scss */
footer:after {
  clear: both;
}
/* line 469, ../components/sass/_layout.scss */
footer .social-links li {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 473, ../components/sass/_layout.scss */
footer .social-links li:first-child {
  padding-top: 10px;
}
/* line 476, ../components/sass/_layout.scss */
footer .social-links li:last-child {
  padding-bottom: 10px;
}
/* line 479, ../components/sass/_layout.scss */
footer .social-links li a {
  display: block;
}
@media (min-width: 760px) {
  /* line 486, ../components/sass/_layout.scss */
  footer .layout {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  footer .layout:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 488, ../components/sass/_layout.scss */
  footer .layout .socialmediaicons, footer .layout .links, footer .layout .contact {
    width: 33.33333%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
    border-left: 1px solid;
    margin-top: 20px;
  }
  /* line 492, ../components/sass/_layout.scss */
  footer .layout .socialmediaicons h2, footer .layout .links h2, footer .layout .contact h2 {
    text-decoration: underline;
  }
  /* line 496, ../components/sass/_layout.scss */
  footer .layout .socialmediaicons {
    border-left: none;
  }
  /* line 500, ../components/sass/_layout.scss */
  footer .copyright {
    text-align: center;
  }
}

/* ! Modules CSS */
@media (min-width: 505px) {
  /* line 8, ../components/sass/_modules.scss */
  .util-bar {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    -moz-box-shadow: #042029 -2px 5px 10px;
    -webkit-box-shadow: #042029 -2px 5px 10px;
    box-shadow: #042029 -2px 5px 10px;
    max-height: 40px;
    display: inline;
    background-color: #A8C298;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  /* line 17, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons {
    margin: 0;
    padding: 0;
    border: 0;
    width: 91.66667%;
    float: left;
  }
  /* line 28, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons:before, .util-bar .socialmediaicons:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons:after {
    clear: both;
  }
  /* line 62, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li.last {
    padding-right: 0;
  }
  /* line 22, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links {
    width: 36.36364%;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* line 28, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons .social-links:before, .util-bar .socialmediaicons .social-links:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons .social-links:after {
    clear: both;
  }
  /* line 62, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons .social-links li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons .social-links li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons .social-links li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons .social-links li.last {
    padding-right: 0;
  }
  /* line 26, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links li {
    list-style: none;
  }
  /* line 28, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links li:first-child {
    padding-left: 5px;
  }
  /* line 31, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links li:last-child {
    padding-right: 5px;
  }
  /* line 35, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links li a {
    display: inline-block;
  }
  /* line 46, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .signup {
    width: 63.63636%;
    float: left;
    display: inline-block;
  }
  /* line 51, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .signup input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* line 53, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .signup input .btn {
    background: #a0bc8e;
  }
  /* line 59, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .signup input, .util-bar .socialmediaicons .signup textarea, .util-bar .socialmediaicons .signup keygen, .util-bar .socialmediaicons .signup select, .util-bar .socialmediaicons .signup button {
    text-align: center;
  }
  /* line 64, ../components/sass/_modules.scss */
  .util-bar .cart {
    width: 8.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 66, ../components/sass/_modules.scss */
  .util-bar .cart a {
    display: inline-block;
  }
  /* line 68, ../components/sass/_modules.scss */
  .util-bar .cart a img {
    display: inline-block !important;
    float: right;
    width: 80%;
  }
}
/*/mediaquery*/
@media (min-width: 960px) {
  /* line 83, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons {
    margin: 0;
    padding: 0;
    border: 0;
    width: 83.33333%;
  }
  /* line 28, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons:before, .util-bar .socialmediaicons:after {
    content: '';
    display: table;
  }
  /* line 33, ../components/sass/_mixins.scss */
  .util-bar .socialmediaicons:after {
    clear: both;
  }
  /* line 62, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .util-bar .socialmediaicons li.last {
    padding-right: 0;
  }
  /* line 88, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links li {
    list-style: none;
  }
  /* line 94, ../components/sass/_modules.scss */
  .util-bar .socialmediaicons .social-links .signup {
    padding-left: 5px;
  }
}
/*/mediaquery*/
@media (min-width: 760px) {
  /* line 121, ../components/sass/_modules.scss */
  .banner .logo {
    max-height: 300px;
  }
}
/*/mediaquery*/
@media (min-width: 960px) {
  /* line 129, ../components/sass/_modules.scss */
  body {
    background: url("../images/logo/hona-bg-footer.jpg") repeat;
  }

  /* line 139, ../components/sass/_modules.scss */
  .banner .logo {
    position: relative;
    width: 100%;
    margin-bottom: -10px;
  }
}
/*/mediaquery*/
