// colors --------------------------------------------------

$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$blue           : #2176C7;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #E1E88C;
$yellow         : #EDE945;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #46007F;
$cyan           : #009B67;
$green          : #A8C298;
$dark           : #000000;
$light          : #FFFFFF; 

// Fonts ------------------------------------------------

$font-primary: Droid serif, sans-serif; 
$font-secondary: Lato ,serif;
$font-aside:  EB Garamond, sans-serif;

$default-border-radius: 10px;

// $small        :30em;
// $medium       :47.5em;
// $large        :75em;
